/* .kn-column__column___3Iwzx:nth-child(2) {
  display: none;
} */

.kn-multi_select__wrapper___30BEc {
  float: left;
  clear: both;
  z-index: 999;
}

.App {
  padding: 5em;
}

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
}

.custom-select-label::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  box-sizing: border-box;
}

.custom-select-toggle {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border: 1px solid #d9d9d9;
  margin-right: 8px;
  margin-bottom: 12px;
  z-index: 99;
}

.custom-select-toggle:focus,
.custom-select-toggle:hover {
  color: #40a9ff;
  background: #fff;
  border-color: #40a9ff;
}

button:focus {
  outline: none;
}

.custom-select {
  display: inline-block;
  position: absolute;
}

.top-nav {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: transparent;
}

.header-text {
  font-size: 2.5rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

.caption span {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

.caption a {
  text-underline-position: under;
  color: rgba(0, 0, 0, 0.85);
}

.caption {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 2;
}

.show-code-button {
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  -webkit-transition: all 0.24s;
  transition: all 0.24s;
  margin-left: 130px;
}

.code-syntax {
  margin: 1em;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 2;
  text-align: left;
}
